# Environment variables
ASSISTANT_IAM_APIKEY=<api-key>
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
WORKSPACE_ID=<workspace-id>

TONE_ANALYZER_IAM_APIKEY=<api-key>
TONE_ANALYZER_URL=https://gateway.watsonplatform.net/tone-analyzer/api

#Optional cloudant URL for login
#CLOUDANT_URL=<cloudant-url>
#If cloudant url is specified a user name and password must be specified to secure the logging endpoints
#LOG_USER=<log-user>
#LOG_PASS=<log-password>
